.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

h1{
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    color: #3b3b3b;

}

